body {
    padding: 0;
    margin: 0;
    background: #222222;
}

.l1 {
    list-style-type: none;
    display: flex;
    background: #F4F1EA;
    padding: 0;
    margin: 0;

    > li > a {
        display: block;
        padding: 10px 20px;
        margin: 0 -5px;
        border-radius: 5px;

        &:has(+ ul a.active) {
            background: #D0CEC6;
        }
    }

    & > li {
        position: relative;
    }

    a {
        background: transparent;
        transition: 0.5s background;
    }
}

.l2,
.l3,
.l4 {
    border: 2px solid #59625D;
    outline: 1px solid #000;
    background-color: #2B2B2D;
    border-radius: 10px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    transition: 0.25s opacity;

    & > li {
        position: relative;
    }
}

.l2 {
    left: -5px;
    top: 40px;
}

.l2--ad2 {
    left: 5px;
}

.l2:has(.active),
.l3:has(.active),
.l4:has(.active) {
    opacity: 1;
    pointer-events: initial;
}

.l3,
.l4 {
    left: calc(100% - 5px);
    top: -10px;
    flex-direction: column;
}

.l2 li {
    padding: 5px 5px;
}

.l2 a {
    display: block;
    text-wrap: nowrap;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;

    &.active {
        background: #767676;
    }
}

.l2 a:has(+ ul a.active) {
    background: #767676;
}

.l2 a:has(+ ul) {
    position: relative;
    &:after {
        content: ">";
        display: inline-block;
        position: absolute;
        right: 5px;
        transform: scaleX(0.5);
    }
}

.search {
    margin-left: 30px;
    display: flex;
    align-items: center;

    input {
        margin-left: 5px;
    }
}

.ad2 {
    font-weight: bold;
}

input {
    width: 300px;
}

.author {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff;

    a {
        color: #4af;
    }
}

.instructions {
    position: absolute;
    left: 50vw;
    top: 50vh;
    width: 80vw;
    max-width: 1200px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #888;
    pointer-events: none;

    h1 {
        font-size: calc(10vmin - 5px);
    }

    p {
        font-size: calc(5vmin + 5px);
    }
}
